@media (max-width:1100px){
   
   .progress
   {
      width: 250px !important;
   }

   .volume
   {
      width: 80px !important;
   }

   .box
   {
      width: 350px !important;
   }
}